
<div id="card<%= id %>" class="clinic-card">
    <a href="/vet-digest/clinic/<%= id %>">
        <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="<%= image %>" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><%= name %></p>
        </div>
        </div>
    </a>
</div>