<div class="card">
    <h4 class="card-header bg-dark text-white"><i class="fas fa-dog"></i> <%= name %>
    <div class="float-right small">
    <a class="ml-2 btn btn-raised btn-danger" href="/vet-digest/" title="Back to listing" data-toggle="tooltip" data-placement="top">
        <i class="fas fa-arrow-left"></i> Return
    </a>
    </div>
    </h4>
    <div class="card-body">
        <div class="row">
            <div class="image col-4 user-l">
            <img src="<%= image %>" class="img-thumbnail" alt="avatar"/>
            </div>
            <div class="col-8">
                <h4 class="card-title">Contact: </h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-phone"></i> <%= phone %></li>
                </ul>
            </div>
        </div>
        <h4 class="card-title">Address: </h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fas fa-map-marked-alt"></i> <%= address %></li>
            <li class="list-group-item"><i class="fas fa-mail-bulk"></i> <%= postalCode %></li>
        </ul>
    </div>
</div>