@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');

.main-color {
  color: #abd8ee;
}

.main-dark {
  color: #005589;
}

.base {
  color: #f1e4ca;
}

body {
  background-color: #3b5261;
  position: absolute;
  height: 100%;
  width: 100%;
}

.jumbotron {
  background-image: url('../assets/main-pattern-bg.jpg');
  background-size: 60em;
}

/* .bg-dark {
    background-color: #ffc107 !important;
} */

.header-content {
  position: relative;
  top: 1.5em;
  background-color: rgba(250, 245, 238, 0.8);
  border-radius: 10%;

}

.main-logo {
  height: auto;
}

#top {
  min-height: 92%;
}
#app {
  min-height: 20em;
}

/* LIST VIEW */
.card-body {
  background-color: #f8f9fa;
}
.clinic-card {
    transition: all .1s ease-in-out;
}

.clinic-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 2px 2px 4px rgba(164,164,164,0.73);
}

.clinic-card a, .clinic-card a:hover {
    text-decoration: none;
    color: #000;
}

/* DETAILS VIEW */

.profile-card {
  background: #FFB300;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, 
             moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, 
             moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, 
             materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}


@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 50px;
    height: 50px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
  }
}

@keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  90% {
    width: 300px;
    height: 200px;
  }
  100% {
    width: auto;
    height: auto;
    background: #FFFFFF;
    border-radius: 4px;
  }
}

.user-l {
  padding-right: 6px;
}
